/* Replace user-splash-screen.png with your own splash screen image */
#msls-id-app-loading .msls-app-loading-img {
    background-image: url(Images/user-splash-screen.png);
}

/* Font families for screen and dialog headers.  Font families for content inside a screen 
    or dialog are determined by the theme's global font family setting. */
.msls-header .ui-title {
    font-family: 'Segoe Light', 'Segoe UI Light', 'Segoe UI', 'Segoe WP Light', 'Roboto Light','Frutiger','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/* Customizable font styles for screen controls */
.msls-font-style-large {
}

.msls-font-style-normal {
}

.msls-font-style-small {
}

/* Uncomment the following lines if you want to use certain jQuery Mobile listview features such as 
    count bubbles and icons inside LightSwitch lists. jQuery Mobile relies on list items using 
    position:relative for these features.  However, this setting performs poorly on certain mobile 
    devices (webkit based in particular) when there are large numbers of items in the list. */
/*
.msls-ctl-list .ui-listview > .ui-li,
.msls-ctl-list .ui-field-contain.ui-li {
    position: relative;
}
*/

/* Phone media query (portrait and landscape) */
@media 
screen and (max-width: 400px) and (orientation: portrait), 
screen and (max-width: 640px) and (max-height: 400px) and (orientation: landscape) {
}

.myOwnOpacity{
    /*opacity: 0.8;*/
}
.groupHeader{
    color: black !important;
    font-size: 20px;

}


/* ################################# */
/* ### VOTING SCREEN ### */
.alertIcon{
    float:left;
    margin-top: -22px; 
    margin-left: -5px;
    width: 24px;   
}
.votingIcon{
    float:right;
    margin-top: -22px;    
}
li:hover .votingIcon{
    opacity: 1;
}
.answerIcon{
    padding: 3px;
    width: 22px !important;
    vertical-align: middle;
    opacity: 0.6;
}
.surveyText{
    font-weight: bold !important;
}

#votingTable td{
    border: 1px solid white;
    text-align: center;
}

#votingTable tr:hover td:first-child{
    background: black;
    color:white;
}

#votingTable tr:hover img{
     opacity: 1;
}

.SurveyComment{
    border:none;
    border-bottom: 1px solid #E8E8E8 !important;
    margin: 0 !important;
    padding-top: 2px !important;
}


/* ################################# */
/* ### Navigation Buttons, ModalDialog / WeekCalendar ### */
#event_edit_container{
    background: lightgray;
}

button.wc-today span:first-child{
  display:none;
}
button.wc-today span{
 padding: 5px 20px 5px 20px !important;
}
button.wc-today{

}
#calendar button.wc-prev{
 margin-right: 0px;
}
 #calendar button.wc-next{
 margin-left: 4px !important;
 }
 #calendar button.wc-next, #calendar button.wc-prev{
    padding: 5px 25px;
 }
  #calendar button.wc-next, #calendar button.wc-prev, #calendar button.wc-today{
 font-size: 15px !important;
 background: #0072c5 !important; 
 color: white !important;
 border: 1px solid #01528C;
 border-bottom: 3px solid #01528C !important;
 }

#calendar button.wc-next:hover, #calendar button.wc-prev:hover, #calendar button.wc-today:hover{
 background: #30A1F2 !important;
 }

/* ################################# */
/* ### DEMO.CSS von WeekCalendar ### */
body {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 83.33%;
}

h1 {
	padding: 0.5em;
	font-size: 1.6em;
} 

h2 {
	margin: 0.5em 0;
	font-size: 1.4em;	
}

p {
	margin: 0.5em;	
}

.ui-widget {
	font-size: 1em;	
}

#event_edit_container, #about {
	display: none;
}

#about_button_container {
	position: absolute;
	top: 1em;
	right: 1em;	
	padding: 0.5em 2em;
	background: #ddf;
	border: 1px solid #bbd;
	width: 10em;
	text-align: center;
}

.wc-header td {
	background: url(images/header-bg.png) repeat-x;
}

label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

form ul {
	padding: 0.3em;
}

select, input[type='text'], textarea {
	width: 250px;
	padding: 3px;
}

input[type='text'] {
	width: 245px;
}

ul.formatted,ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

ul.formatted li,ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}

/* TITLE*/
li[tooltip^="Konflikt"]:hover:after{
content: attr(tooltip);
padding: 8px 12px;
position: absolute;    
color: #F7F7F7;
border: 1px solid #57000E;    
/*white-space: nowrap;*/
z-index: 20;
border-radius: 3px;
box-shadow: 0px 0px 2px #c0c1c2;
text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
background: linear-gradient(#c01e38 0%,#b01c34 100%);
}